<div class="container-fluid bg-dark text-white ">
    <div class="cards text-white border-0">
      <img src="/workshop under.png" class="card-img-top" alt="Workshop Image">
      </div>
      <div class="card-body ">
        <h3 class="card-title mb-4">INTERNSHIP AND WORKSHOP! (Hybrid Online & Offline)</h3>
        <div class="row">
          <div class="col-md-6">
            <ul class="list-unstyled">
              <li><mat-icon class="mr-2">check_circle</mat-icon>GENERATIVE AI</li>
              <li><mat-icon class="mr-2">check_circle</mat-icon>WEB DESIGNING</li>
              <li><mat-icon class="mr-2">check_circle</mat-icon>ANGULAR</li>
              <li><mat-icon class="mr-2">check_circle</mat-icon>APP DEVELOPMENT</li>
              <li><mat-icon class="mr-2">check_circle</mat-icon>PYTHON</li>
            </ul>
          </div>
          <div class="col-md-6">
            <ul class="list-unstyled">
              <li><mat-icon class="mr-2">star</mat-icon>Up to 30 Activity Points</li>
              <li><mat-icon class="mr-2">card_membership</mat-icon>Certificate will be provided</li>
              <li><mat-icon class="mr-2">assignment</mat-icon>One project included</li>
              <li><mat-icon class="mr-2">business_center</mat-icon>Useful for Placements & Projects</li>
              <li><mat-icon class="mr-2">event</mat-icon>STARTS ON 24 JUNE</li>
            </ul>
          </div>
        </div>
        <p class=" text-bold mt-4">
          <i class="fas fa-exclamation-circle mr-2"></i>
          Additionally, seize the exclusive opportunity to participate in a 90-day internship at FREE of cost with REALWEB PVT
        </p>

<a   target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSexQfJ9HJ-C63KqEAfEnnoVvZdVNFN35_OJBydGayQPS714Yw/viewform" class="btn btn-outline-light btn-lg join-program-btn">JOIN PROGRAM</a>
     
</div>
    </div>