<div class="programs-container vh-100 bg-black text-white">
    <div class="container py-5">
      <h1 class="text-center mt-5 ">Programs</h1>
      <div class="row justify-content-center">
        <div class="col-md-4">
          <div class="card  text-white mb-4">
            <img src="/workshop.png"  class="card-img-top"  alt="Workshop Image">
            <div class="card-body text-center">
                <div class="card-title-wrapper">
                    <h5 class="card-title">Workshop</h5>
                  </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card text-white mb-4">
            <img src="/courses.png" class="card-img-top" alt="Course Image">
            <div class="card-body">
                <div class="card-title-wrapper">
                    <h5 class="card-title">Course</h5>
                  </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  