.workshop-container {
    background-color: #000;
    text-align: center;
  }
  h1{
    font-family: 'Timmana', sans-serif;
    font-weight: 400;

 

  }
  /* example.component.css */
.join-program-btn {
    border-radius: 50px; /* Adjust the border radius to make it more rounded */
    padding: 10px 30px; /* Adjust the padding to match the size */
    border: 2px solid white; /* Ensure the border color is white */
    color: white; /* Ensure the text color is white */
    background-color: transparent; /* Make the background transparent */
  }
  
  .material-icons{
    font-size: 18px;
    height: auto;
}
  .card {
    width: 300px;
    border: 4px solid transparent; /* Set initial border width and color */
    background-color: #2E1610;
    border-radius: 46px;
    transition: transform 0.3s ease;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .card-img-top {
    border-radius: 15px;
    padding: 10px;
  }
  .cards{
    width: 300px;
  }
  
  @media (max-width: 500px) {
    .cards{
        width: auto;
    }
    }